<br />
<ul class="pageStatus">
    <li><label for="AdvancedPoll_Question" style="display: inline">Question:</label><span id="AdvancedPoll_Question">@Model.Question</span></li><br />
    <li><label for="AdvancedPoll_ChoiceNum" style="display: inline">Number of choices:</label><span id="AdvancedPoll_ChoiceNum">@Model.ChoiceNum</span></li>
</ul>
