<br />
<ul class="pageStatus">
    <li><label for="SongTitle" style="display: inline">Song Title:</label><span id="SongTitle">@Model.SongTitle</span></li><br />
    <li><label for="SongThumbnailUrl" style="display: inline">Song Thumbnail Link:</label><span id="SongThumbnailUrl">@Model.SongThumbnailUrl</span></li>
</ul>
